<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>checkConnection</servlet-name>
        <servlet-class>Connection.checkConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Servlet.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panel</servlet-name>
        <servlet-class>Servlet.Panel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteData</servlet-name>
        <servlet-class>Servlet.DeleteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>Servlet.UpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>Servlet.Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderID</servlet-name>
        <servlet-class>Servlet.ShowOrderID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkConnection</servlet-name>
        <url-pattern>/checkConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panel</servlet-name>
        <url-pattern>/Panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteData</servlet-name>
        <url-pattern>/DeleteData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderID</servlet-name>
        <url-pattern>/ShowOrderID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
